import(rootSolve)
import(memoise)
import(survival)
importFrom("stats", "rbinom", "rexp", "rnorm", "uniroot", "var")
importFrom("stats", "quantile")
export(boundaries_sim)
export(magnusson_turnbull)
export(max_FI)
export(sim_magnusson_turnbull)
export(stage_1_evaluation)
export(stage_1_selection)





